.custom-board-cards {
  width: 90%;
  text-align: center;

  fieldset { 
    border-radius: 40px;
    display: flex;
    padding: 0 20px 20px;
    border: none;
    box-shadow: 0 5px 10px rgba(105, 105, 105, 0.3);

    legend {
      font-size: 40px;
      font-weight: 800;
      background-color: white;
      padding: 0 10px;
      color: rgba(105, 105, 105, 0.727);
    }

    div {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    .item-custom-card {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 250px;
      height: 300px;
      padding: 10px;
      border-radius: 30px;
      overflow: hidden;

      h3 {
        position: relative;
        border: 3px dashed aliceblue;
        margin-left: auto;
        transform: rotate(30deg) translate(20px);
        width: 120px;
        font-size: 18px;
        color: aliceblue;
        text-shadow: 0 0 2px black;
        z-index: 2;
      }

      h1 {
        border: 4px solid whitesmoke;
        color: aliceblue;
        position: 0;
        margin-top: auto;
        margin-bottom: 20px;
        transform: rotate(-10deg);
        font-size: 24px;
        text-shadow: 0 0 2px black;
        background-color: rgba(245, 245, 245, 0.28);
        z-index: 2;
      }

      .who-see {
        position: absolute;
        width: 40px;
        border-radius: 50%;
        box-shadow: 0 0 7px rgba(245, 245, 245, 0.38);
        height: 40px;
        left: 10px;
        top: 10px;
        z-index: 3;
      }

      .approve {
        position: absolute;
        width: 40px;
        box-shadow: 0 0 7px rgba(245, 245, 245, 0.38);
        height: 40px;
        left: 10px;
        border-radius: 5px;
        top: 60px;
        z-index: 3;
      }

      img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        object-fit: cover;
        position: absolute;
      }
    }
  }
}